.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 90vh;
    width: 100%;
}

.lightMode{
    background-color: #FCF6FF;
}

.darkMode{
    background-color: #000;
    color: #fff;
}